.AddTodoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    input,
    button {
      width: 290px;
      padding: 7px 5px;
      border: none;
      border: 1px solid gray;
    }
    button {
      background-color: yellowgreen;
      color: black;
    }
  }
}
